
\.ipynb_checkpoints/

keras_test\.ipynb

\.idea/

hyper parameters vm - Google Search_files/

hyper parameters vm - Google Search\.html

Automatic CEFR Level Prediction for Estonian Learner Text\.pdf

Rapport_TX_P18_Doubinsky_LÊ\.zip

Étude de cas\.gslides

Untitled\.ipynb

Presentation TX-P18\.gslides

perla/__pycache__/

perla/.Rhistory
